@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@100;400&family=Noto+Sans+Tamil:wght@400;600&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@100;400&family=League+Spartan:wght@700&family=Noto+Sans+Tamil:wght@400;600&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Poppins:wght@400;500;600&display=swap');

:root {
  --fondonegro: #231f20;
  --verdeclaro: #65c18b;
  --verdeoscuro: #239055;
  --colorfuente: #f4f4f4;
}

body {
  font-family: "Chivo", sans-serif;
  font-family: "Noto Sans Tamil", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--fondonegro);
  color: var(--colorfuente);
}


/**Presentacion**/
.presentacion{
  background-color: var(--verdeclaro);
}

.presentacion h1{
  font-family: 'League Spartan', sans-serif;
  font-size: 70px;
  color: black;
  
}
 .presentacion p{
  font-family: "Open Sans", sans-serif;
 }
 .text-presentacion{
  max-width: 600px;
 }

 /**Featured**/

 .featured{
  background-color: black;
 }
 .featured-rigth {

  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#000000, #000000) padding-box,
  linear-gradient(145deg, transparent 30%,#65c18b, #239055) border-box;
  border: .15rem solid transparent;
}
.featured-rigth h2{
  font-family: 'League Spartan', sans-serif;
  color: #65c18b;
}
.featured-rigth p{
  font-family: "Open Sans", sans-serif;
  color: var(--colorfuente);
}
.featured-rigth:hover {
  background: linear-gradient(#000000, #000000) padding-box,
              linear-gradient(145deg, transparent 30%,#65c18b, #f7f7f7) border-box;
  transition: background-color 0.3s ease; /* Transición suave al hacer hover */
}

.featured-left{
 

    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(218deg, transparent 30%,#65c18b, #239055) border-box;
    border: .15rem solid transparent;
 
}
.featured-left h2{
  font-family: 'League Spartan', sans-serif;
  color: #65c18b;
}
.featured-left p{
  font-family: "Open Sans", sans-serif;
  color: var(--colorfuente);
}
.featured-left:hover {
  background: linear-gradient(#000000, #000000) padding-box,
              linear-gradient(218deg, transparent 30%,#65c18b, #f4f4f4) border-box;
  transition: background-color 0.3s ease; /* Transición suave al hacer hover */
}
