@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Open+Sans:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Poppins:wght@400;500;600&display=swap');

:root {
  --fondonegro: #231f20;
  --verdeclaro: #65c18b;
  --verdeoscuro: #239055;
  --colorfuente: #f4f4f4;
}

body {
  /* font-family: 'League Spartan', sans-serif; */
  font-family: "Open Sans", sans-serif;
  background-color: var(--fondonegro) !important;
  color: var(--colorfuente) !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

/*?--- Navbar start ---*/

.navbar-fixed {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: hidden;
  background-color: var(--fondonegro) !important;
  color: var(--colorfuente) !important;
}

.navbar-toggler:focus {
  border: 1px solid white !important;
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
}

.nav-items {
  padding: 1rem;
  font-weight: 500;
}

.nav-items .active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--verdeclaro);
  color: white;
}

.nav-items a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--verdeclaro);
}

/*--- Presentation Section ---*/

.presentation-container {
  margin-top: 56px;
}

.section-size {
  height: 100vh;
}

@media (min-width: 768px) {
  .presentation-container {
    margin-top: 72px;
  }
}


/**Presentacion**/
.presentacion{
  
  background-color: var(--verdeclaro);
}

.presentacion h1{
  font-family: 'League Spartan', sans-serif;
  font-size: 70px;
  color: black;
  
}
 .presentacion p{
  font-family: "Open Sans", sans-serif;
 }
 .text-presentacion{
  max-width: 600px;
 }

 /**Featured**/

 .featured{
  background-color: black;
 }
 .featured-rigth {

  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#000000, #000000) padding-box,
  linear-gradient(145deg, transparent 30%,#65c18b, #239055) border-box;
  border: .15rem solid transparent;
}
.featured-rigth h2{
  font-family: 'League Spartan', sans-serif;
  color: #65c18b;
}
.featured-rigth p{
  font-family: "Open Sans", sans-serif;
  color: var(--colorfuente);
}
.featured-rigth:hover {
  background: linear-gradient(#000000, #000000) padding-box,
              linear-gradient(145deg, transparent 30%,#65c18b, #f7f7f7) border-box;
  transition: background-color 0.3s ease; /* Transición suave al hacer hover */
}

.featured-left{
 

    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(218deg, transparent 30%,#65c18b, #239055) border-box;
    border: .15rem solid transparent;
 
}
.featured-left h2{
  font-family: 'League Spartan', sans-serif;
  color: #65c18b;
}
.featured-left p{
  font-family: "Open Sans", sans-serif;
  color: var(--colorfuente);
}
.featured-left:hover {
  background: linear-gradient(#000000, #000000) padding-box,
              linear-gradient(218deg, transparent 30%,#65c18b, #f4f4f4) border-box;
  transition: background-color 0.3s ease; /* Transición suave al hacer hover */
}
